@import '../../../assets/styles/variables';

.btn {
  background-color: $blue;
  font-size: 14px;
  padding: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 23px;
  border-radius: 2px;
}

.label {
  color: #FFFFFF;
}

.disabled {
  background-color: #999;
}

.btn2 {
  background-color: transparent;
  border-color: $blue;
  border-width: 1px;;
}

.label2 {
  color: $blue;
}