.btn {
  background-color: #0E65DD;
  font-size: 14px;
  padding: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 23px;
  border-radius: 2px;
}

.label {
  color: #FFFFFF;
}