@import '../../assets/styles/variables';

.container {
  width: 100%;
  height: 100%
}

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.img {
  width: 131px;
  height: 40px;
  margin-top: 34px;
  margin-left: 16px;
}

.form {
  margin-top: 66px;
  background-color: #FFFFFF;
  padding: 29px 37px;
  border-radius: 40px 40px 0 0;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.title {
  font-size: 22px;
  margin-bottom: 29px;
  margin-top: 10px;
}

.text2 {
  font-size: 11px;
  line-height: 18px;
  color: #999;
}

.link2 {
  text-decoration: underline;
}

.text1 {
  margin-top: -20px;
  margin-bottom: 20px;
}

.link1 {
  color: $blue;
}

.btn {
  margin-top: 15px;
}

.errors {
  margin-bottom: 10px;
}

.error {
  color: $red;
  font-size: 12px;
}