@import '../../assets/styles/variables';

.text1 {
  margin-top: -20px;
  margin-bottom: 20px;
}

.link1 {
  color: $blue;
}

.btn {
  margin-top: 15px;
}

.text2 {
  font-size: 11px;
  line-height: 18px;
  color: #999;
}

.link2 {
  text-decoration: underline;
}

.errors {
  margin-bottom: 10px;
}

.error {
  color: $red;
  font-size: 12px;
}