.field {
  flex-direction: row;
  border-bottom-width: 1px;
  border-bottom-color: #B5B4BE;
  padding: 17px 0;
  margin-bottom: 40-17px;
}

.icon {
  margin-top: 4px;
  margin-right: 24px;
}

.input {
  font-size: 18px;
}